html {
  background-image: url('./images/black-gaa3567f97_1920.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.hidden {
  display: none !important;
}

.active {
  opacity: 80%;
  color: rgb(94, 89, 89);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

button {
  border: none;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  width: 70%;
  margin: 80px auto;
  background-color: rgba(241, 237, 237, 0.068);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.App h1 {
  font-size: 70px;
  font-family: 'Babylonica', cursive;
  /* color:rgb(13, 110, 221); */
  color: rgb(230, 217, 43);
  margin-bottom: 0px;
  letter-spacing: 4px;
}

.App h2 {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: auto;
  width: 70%;
  padding: 10px;
  /* background-color: rgb(31, 32, 31); */
  border-radius: 10px;
  /* box-shadow: 9px 9px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
}

.menu button {
  width: 100%;
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, 0.767);
  color: whitesmoke;
  font-size: 18px;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.menu button:hover {
  cursor: pointer;
  opacity: 80%;
  color: rgba(236, 229, 126, 0.993);
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s;
  font-size: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "a b";
}

.aside {
  grid-area: a;
}

.main {
  grid-area: b;
  background-color: rgba(240, 248, 255, 0.103);
  width: 92%;
  margin-top: 20px;
}

.footer {
  grid-area: d;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */